<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Socker.io -->
        <script type="text/javascript" src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../public/css/style.css">
        <title>AnnotationWebTool</title>
    </head>
    <body id="pageIndex">
        <!-- Loader -->
        <div class="loader-wrapper" id="loader-wrapper">
            <div class="loader" id="loader"></div>
            <span class="loader-text" id="loader-text" style="display: inline-block; position: absolute;">Loading...</span>
        </div>

        <div class="row">
            <div class="col-6" id="leftCol">
                <label>Select a bag file</label>
                <select class="form-select" id="input_bag">
                    <option value="null" selected></option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="upload">Upload</button>
            </div>
            <div class="col-6 " id="rightCol">
                <label>Select a dataset</label>
                <select class="form-select" id="db">
                    <option value="null" selected></option>
                </select>
            </div>
        </div>

        <script type="text/javascript" src="../public/javascript/socket.js"></script>
        <script>
            var bag = document.getElementById('input_bag');
            var db = document.getElementById('db');
            
            localStorage.clear();

            window.addEventListener('load', () => {
                get_db();
                get_bag_files();
            });
            
            db.addEventListener('change', e => {
                if (e.currentTarget.value != null)
                    load_db(e.currentTarget.value);
            });

            document.getElementById('upload').addEventListener('click', e => {
                e.preventDefault();
                
                if (bag.value != "null")
                    save_bag_into_mongo(bag.value);
            });
        </script>
    </body>
</html>