<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    <body>

        <form id="form">
            <input type="file" id="input_bag" accept=".bag"> <br>
            <input type="submit" value="extract" id="submit" />
        </form>

        <a href="draw">Modifica set</a>

        <script type="text/javascript" src="../javascript/Socketfunction.js"></script>
        <script>            
            var select = document.getElementById('input_bag');

            document.getElementById('submit').addEventListener('click', e => {
                e.preventDefault();

                if (select.value != "" && select.files[0].name.split('.')[1] == "bag") {
                    save_bag_into_mongo(select.files[0].name);
                }
            });
        </script>
    </body>
</html>