<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Socker.io -->
        <script type="text/javascript" src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <!-- JQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <!-- JQuery UI -->
        <script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <!-- W3school right sidebar -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Konva bounding box -->
        <script src="https://unpkg.com/konva@8.4.2/konva.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/stylesheets/rectangle.css">
    </head>
    <body id="workspace">
        <div class="w3-sidebar w3-bar-block w3-card" id="sidebar-left">
            <header style = "padding-bottom: 2%;">
                <button class="btn btn-primary" id="addClass" type="submit">Add class</button>
            </header>
            <div class="list-group" id="classList"></div>
        </div>

        <div class="w3-sidebar w3-bar-block w3-card" id="sidebar-right">
            <header style = "padding-bottom: 2%;">
                <label for="sub-labelings"> Check if you want to sub-labeling </label>
                <input type="checkbox" id="sub-labeling">
            </header>
            <div class="list-group" id="subList"></div>
        </div>

        <form>
            <div id="dialog" title="Set the class">
                <div style="align-items: center;">
                    <label>Set the name of the class: </label>
                    <input type="text" id="className" value="">
                </div>
                <div style="text-align:center;">
                    <label>Set the color of the class: </label>
                    <input type="color" id="classColor">
                </div>
            </div>
        </form>
        
        <div id="container"></div>
        <div>
            <div style="text-align:center;">
                <label>Select the topic: </label>
                <select id="topics">
                    <option value="camera_down_rgb_image_raw">RGB DOWN</option>
                    <option value="camera_up_rgb_image_raw">RGB UP</option>
                </select>
            </div>
        </div>
        
        <script>
            var socket = io();

            var class_name;
            var image_counter = 0;

            var list = document.getElementById("classList");
            var checkbox = document.getElementById("sub-labeling");
            var sub_list = document.getElementById("subList");
            var div = document.getElementById("container");
            var topic = document.getElementById("topics");

            div.style.backgroundImage = `url(../bagFile/ros-1/${topic.value}/img-${image_counter++}.png)`;

            topic.addEventListener('change', (e) => {
                image_counter = 0;
                div.style.backgroundImage = `url(../bagFile/ros-1/${topic.value}/img-${image_counter++}.png)`;
                remove_bounding_box();
            })

            // Set the display value of sub_class list
            checkbox.addEventListener('change', (e) => {
                if (!e.currentTarget.checked) {
                    sub_list.style.visibility = "hidden";
                    let parent = document.getElementById("subList");
                    parent.childNodes.forEach(node => {
                        node.style.backgroundColor = "#fff";
                    });
                } else {
                    sub_list.style.visibility = "";
                }
            });

            $("#workspace").on("keydown", (e) => {
                if (e.keyCode == 37 && image_counter > 0) { // Left arrow
                    div.style.backgroundImage = `url(../bagFile/ros-1/${topic.value}/img-${--image_counter}.png)`;
                    remove_bounding_box();                    
                } else if (e.keyCode == 39) { //Right arrow
                    div.style.backgroundImage = `url(../bagFile/ros-1/${topic.value}/img-${++image_counter}.png)`;
                    remove_bounding_box();
                }
            });

            document.getElementById("addClass").addEventListener('click', (e) => {
                $('#dialog').dialog('open');
            });

            // Fill the left sidebar with the classes already saved
            socket.emit('get classes', "", (res) => {
                res.forEach(node => {
                    create_class(node);
                });
            });            

            $("#dialog").dialog({
                autoOpen: false,
                resizable: false,
                buttons: [
                    {
                        text: "Ok",
                        icon: "ui-icon-heart",
                        click: function() {
                            try {
                                var name = $('input[id="className"]').val();
                                var colorpick = $('input[id="classColor"]').val();

                                if (name == null || name == "") 
                                    throw "You have to insert the name of the class";
                                

                                // Check if name or color exist already
                                list.childNodes.forEach((node) => {
                                    if (node.title == colorpick || node.text == name) 
                                        throw "The name or the color is already in use";
                                });

                                let msg = {
                                    name: name,
                                    color: colorpick
                                };

                                // Add class to left sidebar
                                create_class(msg);
                            
                                // Save class to nodejs
                                socket.emit('add class', msg);

                                // Close the popup
                                $(this).dialog("close");
                            } catch (e) {
                                alert(e);
                            }
                        }
                    }
                ],
                dialogClass: "popup",
                draggable: false
            });

            var stage = new Konva.Stage({
                container: 'container',
                width: div.clientWidth,
                height: div.clientHeight,
            });
        
            // Create layer
            var layer = new Konva.Layer();
            stage.add(layer);
        
            var tr = new Konva.Transformer();
            layer.add(tr);
        
            // add a new feature, lets add ability to draw selection rectangle
            var selectionRectangle = new Konva.Rect({
                fill: 'rgba(0,0,255,0.5)',
                visible: false,
            });
            layer.add(selectionRectangle);
        
            var x1, y1, x2, y2;
            var wantDraw;

            var container = stage.container();
            container.tabIndex = 1;
            container.focus();
            
            stage.on('mousedown touchstart', (e) => {
                // do nothing if we mousedown on any shape
                if (e.target !== stage) 
                    return;

                e.evt.preventDefault();
                x1 = stage.getPointerPosition().x;
                y1 = stage.getPointerPosition().y;
                x2 = stage.getPointerPosition().x;
                y2 = stage.getPointerPosition().y;
        
                selectionRectangle.visible(true);
                selectionRectangle.width(0);
                selectionRectangle.height(0);
                
                wantDraw = e.evt.shiftKey || e.evt.ctrlKey || e.evt.metaKey;
            });
        
            stage.on('mousemove touchmove', (e) => {
                // do nothing if we didn't start selection
                if (!selectionRectangle.visible()) 
                    return;
                
                e.evt.preventDefault();
                x2 = stage.getPointerPosition().x;
                y2 = stage.getPointerPosition().y;
        
                selectionRectangle.setAttrs({
                    x: Math.min(x1, x2),
                    y: Math.min(y1, y2),
                    width: Math.abs(x2 - x1),
                    height: Math.abs(y2 - y1),
                });
            });
        
            stage.on('mouseup touchend', (e) => {
                // do nothing if we didn't start selection
                if (!selectionRectangle.visible())
                    return;
                
                e.evt.preventDefault();
                // update visibility in timeout, so we can check it in click event
                setTimeout(() => {
                    selectionRectangle.visible(false);
                });
        
                var shapes = stage.find('.rect');
                var box = selectionRectangle.getClientRect();
                if (box.width != 0 && box.height != 0) {
                    var selected = shapes.filter((shape) =>
                        Konva.Util.haveIntersection(box, shape.getClientRect())
                    );
                    tr.nodes(selected);
                } else {
                    tr.nodes([]);
                }

                // Chack if the user pressed ctrl key for draw the bounding box
                if (wantDraw) {
                    // Assign the color of the bounding box
                    try {
                        list.childNodes.forEach(node => {
                        if (node.style.backgroundColor == "red")
                            throw node;
                        });
                        alert("You need first to create or select a class");
                        return;
                    } catch (e) {
                        let rect = new Konva.Rect({
                            x: selectionRectangle.attrs.x,
                            y: selectionRectangle.attrs.y,
                            width: selectionRectangle.attrs.width,
                            height: selectionRectangle.attrs.height,
                            name: "rect",
                            stroke: e.title,
                            strokeWidth: 3,
                            draggable: true,
                        });
                        layer.add(rect);
                        wantDraw = false;
                    }

                    // If checkbox is not flagged, just return
                    if (!checkbox.checked)
                        return;
                    
                    try {
                        // If a sub_class is already select, don't create a new sub_class
                        sub_list.childNodes.forEach(node => {
                            if (node.style.backgroundColor == "red")
                                throw node;
                        });
                       
                        // Create a new sub_class
                        msg = {
                            name : class_name,
                            id : sub_list.hasChildNodes() ? parseInt(sub_list.lastElementChild.innerHTML) + 1 : 0
                        };
                        create_sub_classes(msg.id, sub_list);
                        socket.emit('add subClass', msg);
                    } catch (e) {
                        console.log(e.innerHTML);
                    }                 
                }
            });
        
            // clicks should select/deselect shapes
            stage.on('click', (e) => {
                // if we are selecting with rect, do nothing
                if (selectionRectangle.visible())
                    return;
        
                // if click on empty area - remove all selections
                if (e.target === stage) {
                    tr.nodes([]);
                    return;
                }
        
                // do nothing if clicked NOT on our rectangles
                if (!e.target.hasName('rect'))
                    return;
                
        
                // do we pressed shift or ctrl?
                const metaPressed = e.evt.shiftKey || e.evt.ctrlKey || e.evt.metaKey;
                const isSelected = tr.nodes().indexOf(e.target) >= 0;
        
                if (!metaPressed && !isSelected) {
                    // if no key pressed and the node is not selected
                    // select just one
                    tr.nodes([e.target]);
                } else if (metaPressed && isSelected) {
                    // if we pressed keys and node was selected
                    // we need to remove it from selection:
                    const nodes = tr.nodes().slice(); // use slice to have new copy of array
                    // remove node from array
                    nodes.splice(nodes.indexOf(e.target), 1);
                    tr.nodes(nodes);
                } else if (metaPressed && !isSelected) {
                    // add the node into selection
                    const nodes = tr.nodes().concat([e.target]);
                    tr.nodes(nodes);
                }
            });
            
            // Function to delete bounding box on canc key press
            container.addEventListener('keydown', (e) => {
                if (e.keyCode == 46) {
                    tr.nodes().forEach(node => {
                        node.remove();
                    });
                    tr.nodes([]);
                }
            });
        </script>
        <script>
            // FUNCTION
            function create_class(msg) {
                var node = document.createElement("a");
                node.innerHTML = msg.name;
                node.className = "list-group-item list-group-item-action";
                node.title = msg.color;
                node.addEventListener('click', (e) => {
                    if (e.target.style.backgroundColor == "red") {
                        e.target.style.backgroundColor = "#fff";
                    } else {
                        socket.emit('get subClasses', msg.name, (res) => {
                            while(sub_list.hasChildNodes()) {
                                    sub_list.removeChild(sub_list.lastElementChild);
                            }

                            // Add sub_classes to right sidebar
                            res.forEach(id => {
                                create_sub_classes(id);
                            });
                        });
                        class_name = msg.name;
                        // Change backgournd color to set the effect of itme select
                        set_selection("classList", e);
                    }

                    // Set visibility for sub_classes list
                    if (!checkbox.checked) 
                        sub_list.style.visibility = "hidden";
                });
                list.appendChild(node);
            }

            function create_sub_classes(id) {
                var node = document.createElement("a");
                node.innerHTML = id;
                node.className = "list-group-item list-group-item-action";
                node.addEventListener('click', (e) => {
                    if (e.target.style.backgroundColor == "red") {
                        e.target.style.backgroundColor = "#fff";
                    } else {
                        // Set the item to selected
                        set_selection("subList", e);
                    }
                });
                sub_list.appendChild(node);
            }

            // Change background color to select the item
            function set_selection(div_id, dest) {
                let parent = document.getElementById(div_id);
                parent.childNodes.forEach(node => {
                    node.style.backgroundColor = "#fff";
                });
                dest.target.style.backgroundColor = "red";
            } 

            // Remove all bounding box from container
            function remove_bounding_box() {
                let remove = layer.getChildren(node => {
                    return node.getClassName() === 'Rect';
                });

                remove.forEach(node => {
                    // Don't delete the ability to draw selection rectangle
                    if (node._id != 14)
                        node.remove();
                });
            }
        </script>
    </body>
</html>