<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <!-- JQuery UI-->
        <script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

        <script src="https://unpkg.com/konva@8.4.2/konva.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/stylesheets/rectangle.css">
    </head>
    <body>

        <div id="viewport">
            <div id="sidebar">
                <header style = "padding-bottom: 5%;">
                    <button class="btn btn-primary" id="addClass" type="submit">Add class</button>
                </header>
                <div class="list-group" id="classList"></div>
            </div>
        </div>

        <form>
            <div id="dialog" title="Set the class">
                <div style="align-items: center;">
                    <label>Set the name of the class: </label>
                    <input type="text" id="className" value="">
                </div>
                <div style="text-align:center;">
                    <label>Set the color of the class: </label>
                    <input type="color" id="classColor">
                </div>
            </div>
        </form>
        
        
        <div id="container"></div>
        
        <script>    
            //var socket = io();

            var addClass = document.getElementById("addClass");
            var list = document.getElementById("classList");
            var stroke = "";

            $("#dialog").dialog({
                autoOpen: false,
                //open: () => $(".ui-dialog-titlebar-close").hide(),
                resizable: false,
                buttons: [
                    {
                    text: "Ok",
                    icon: "ui-icon-heart",
                    click: function() {
                        var find = false;
                        var name = $('input[id="className"]').val();
                        var colorpick = $('input[id="classColor"]').val();
                        if (name == null || name == "") {
                            alert("You have to insert the name of the class");
                            return;
                        }

                        // Check if name or color exist already
                        list.childNodes.forEach((node) => {
                            if (node.href.substring(node.href.indexOf("#"), node.href.length) == colorpick || node.text == name) {
                                find = true;
                                return;
                            }
                        });

                        if (find) {
                            alert("The name or the color is already in use");
                            return;
                        }

                        // Add node
                        var doc = document.createElement("a")
                        doc.innerHTML = name;
                        doc.className = "list-group-item list-group-item-action";
                        doc.href = colorpick;
                        doc.addEventListener('click', (e) => {
                            stroke = e.target.href.substring(e.target.href.indexOf("#"), e.target.href.length);
                        });

                        list.appendChild(doc);
                        $(this).dialog("close");
                        
                        
                    }
                    //showText: false
                    }
                ],
                dialogClass: "popup",
                draggable: false
            });

            addClass.addEventListener('click', (e) => {
                $('#dialog').dialog('open');
            });
            
            var div = document.getElementById("container");

            var stage = new Konva.Stage({
                container: 'container',
                width: div.clientWidth,
                height: div.clientHeight,
            });
        
            // Create layer
            var layer = new Konva.Layer();
            stage.add(layer);
        
            var tr = new Konva.Transformer();
            layer.add(tr);
        
            // add a new feature, lets add ability to draw selection rectangle
            var selectionRectangle = new Konva.Rect({
                fill: 'rgba(0,0,255,0.5)',
                visible: false,
            });
            layer.add(selectionRectangle);
        
            var x1, y1, x2, y2;
            var wantDraw;

            var container = stage.container();
            container.tabIndex = 1;
            container.focus();
            
            stage.on('mousedown touchstart', (e) => {
                // do nothing if we mousedown on any shape
                if (e.target !== stage) 
                    return;
                

                e.evt.preventDefault();
                x1 = stage.getPointerPosition().x;
                y1 = stage.getPointerPosition().y;
                x2 = stage.getPointerPosition().x;
                y2 = stage.getPointerPosition().y;
        
                selectionRectangle.visible(true);
                selectionRectangle.width(0);
                selectionRectangle.height(0);
                
                wantDraw = e.evt.shiftKey || e.evt.ctrlKey || e.evt.metaKey;
            });
        
            stage.on('mousemove touchmove', (e) => {
                // do nothing if we didn't start selection
                if (!selectionRectangle.visible()) 
                    return;
                
                e.evt.preventDefault();
                x2 = stage.getPointerPosition().x;
                y2 = stage.getPointerPosition().y;
        
                selectionRectangle.setAttrs({
                    x: Math.min(x1, x2),
                    y: Math.min(y1, y2),
                    width: Math.abs(x2 - x1),
                    height: Math.abs(y2 - y1),
                });
            });
        
            stage.on('mouseup touchend', (e) => {
                // do nothing if we didn't start selection
                if (!selectionRectangle.visible())
                    return;
                
                e.evt.preventDefault();
                // update visibility in timeout, so we can check it in click event
                setTimeout(() => {
                    selectionRectangle.visible(false);
                });
        
                var shapes = stage.find('.rect');
                var box = selectionRectangle.getClientRect();
                if (box.width != 0 && box.height != 0) {
                    var selected = shapes.filter((shape) =>
                        Konva.Util.haveIntersection(box, shape.getClientRect())
                    );
                    tr.nodes(selected);
                } else {
                    tr.nodes([]);
                }

                if (wantDraw) {
                    if (stroke == "") {
                        alert("You need first to create a class");
                        return;
                    }
                    let rect = new Konva.Rect({
                        x: selectionRectangle.attrs.x,
                        y: selectionRectangle.attrs.y,
                        width: selectionRectangle.attrs.width,
                        height: selectionRectangle.attrs.height,
                        name: 'rect',
                        stroke: stroke,
                        strokeWidth: 3,
                        draggable: true,
                    });
                    layer.add(rect);
                    wantDraw = false;
                }
            });
        
            // clicks should select/deselect shapes
            stage.on('click', (e) => {
                // if we are selecting with rect, do nothing
                if (selectionRectangle.visible())
                    return;
        
                // if click on empty area - remove all selections
                if (e.target === stage) {
                    tr.nodes([]);
                    return;
                }
        
                // do nothing if clicked NOT on our rectangles
                if (!e.target.hasName('rect'))
                    return;
                
        
                // do we pressed shift or ctrl?
                const metaPressed = e.evt.shiftKey || e.evt.ctrlKey || e.evt.metaKey;
                const isSelected = tr.nodes().indexOf(e.target) >= 0;
        
                if (!metaPressed && !isSelected) {
                    // if no key pressed and the node is not selected
                    // select just one
                    tr.nodes([e.target]);
                } else if (metaPressed && isSelected) {
                    // if we pressed keys and node was selected
                    // we need to remove it from selection:
                    const nodes = tr.nodes().slice(); // use slice to have new copy of array
                    // remove node from array
                    nodes.splice(nodes.indexOf(e.target), 1);
                    tr.nodes(nodes);
                } else if (metaPressed && !isSelected) {
                    // add the node into selection
                    const nodes = tr.nodes().concat([e.target]);
                    tr.nodes(nodes);
                }
            });

            /*stage.on('dblclick', (e) => {
                if (selectionRectangle.visible())
                    return;
                
                // if click on empty area - remove all selections
                if (e.target === stage) {
                    tr.nodes([]);
                    return;
                }
        
                // do nothing if clicked NOT on our rectangles
                if (!e.target.hasName('rect'))
                    return;
            });*/

            
            container.addEventListener('keydown', (e) => {
                // Canc key
                if (e.keyCode == 46) {
                    tr.nodes().forEach(node => {
                        node.remove();
                    });
                    tr.nodes([]);
                }
            });
        </script>
    </body>
</html>