<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AnnotationWebTool</title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <!-- Socker.io -->
        <script type="text/javascript" src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <!-- JQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <!-- JQuery UI -->
        <script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <!-- W3school right sidebar -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Konva bounding box -->
        <script src="https://unpkg.com/konva@8.4.2/konva.min.js"></script>
        <link type="text/css" rel="stylesheet" href="../public/css/style.css">
    </head>
    <body id="workspace">
        <!-- Loader -->
        <div class="loader-wrapper" id="loader-wrapper">
            <div class="loader" id="loader"></div>
            <span class="loader-text" id="loader-text" style="display: inline-block; position: absolute;">Loading...</span>
        </div>

        <!-- Left sidebar -->
        <div class="w3-sidebar w3-bar-block w3-card" id="sidebar-left">
            <header style = "padding-bottom: 2%;">
                <button class="btn btn-primary" id="add_class" type="submit">Add class</button>
            </header>
            <div class="list-group" id="class_list"></div>
        </div>

        <!-- Right sidebar -->
        <div class="w3-sidebar w3-bar-block w3-card" id="sidebar-right">
            <header style = "padding-bottom: 2%;">
                <button class="btn btn-primary" id="add_subclass" type="submit">Add subclass</button>
            </header>           
            <div class="list-group" id="sub_class_list"></div>
        </div>

        <!-- Class popup -->
        <form>
            <div id="class_dialog">
                <div style="padding-bottom: 10px;">
                    <label style="padding-bottom: 3px;">Set the class name</label>
                    <input type="text" class="form-control" id="class_name" value=""/>
                </div>
                <div style="text-align: center;">
                    <label style="padding-bottom: 3px;">Set the class color</label>
                </div>
                <input type="color" class="form-control-color" title="Choose class color" id="class_color"/>
            </div>
        </form>

        <!-- Sub-class popup -->
        <form>
            <div id="sub_class_dialog">
                <div style="align-items: center;">
                    <label style="padding-bottom: 3px;">Set the subclass name</label>
                    <input type="text" class="form-control" id="sub_class_name" value="">
                </div>
            </div>
        </form>

        <!-- Export popup -->
        <form>
            <div id="export_dialog">
                <div style="text-align: center;">
                    <label style="padding-bottom: 3px;">Select the topics to export</label>
                </div>
            </div>
        </form>

        <!-- Container for canvas -->
        <div id="container"></div>

        <!-- Selection for topics -->
        <div class="container">
            <div class="col">
                <label>Topic: </label>
                <select class="form-select" id="topics"></select>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="keep_bounding">
                    <label class="form-check-label"> Keep bounding box </label>
                </div>
            </div>
            <div class="col">
                <button type="button" id="reset_image" class="btn btn-primary btn-sm">Reset to first image</button>
                <button type="button" id="load_last_image" class="btn btn-primary btn-sm">Reload from last image</button>
            </div>
        </div>

        <div class="col_image">
            <div class="fps">
                <label class="fps_text">FPS</label>
                <input type="number" class="form-control" id="image_fps" value="1" min="0.1" step="0.1" />
            </div>
            <div class="sequence">
                <label id="image_sequence">/</label>
            </div>
            <p id="warning"></p>
            <button class="btn btn-primary" style="left: 37%;" id="export" type="submit">Export</button>
        </div>
        
        <script type="text/javascript" src="../public/javascript/index.js"></script>
        <script type="text/javascript" src="../public/javascript/socket.js"></script>
        <script type="text/javascript" src="../public/javascript/bounding.js"></script>
        <script type="text/javascript" src="../public/javascript/popup.js"></script>
    </body>
</html>