body { 
    background-color: ivory; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

#container {
    position:fixed;
    width: 50%;
    height: 50%;
    /*width: 640px;
    height: 480px;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    z-index: 0;
    top : 30%;
    left : 25%;
}

#sidebar-right {
    width:20%;
    right:0;
    background: #37474F;
    color: #fff;
}

#sidebar-left {
    width: 20%;
    background: #37474F;
    color: #fff;
}

header {
    color: #fff;
    display: block;
    background-color: #263238;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
}

.row {
    text-align: center;
}

.column {
    float:left; 
    top: 50%; 
    width: 50%;
}
