/* INDEX PAGE */
#pageIndex { 
    height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#db {
    text-align: center;
}

#upload {
    width: 50%;
}

.row {
    text-align: center;
    width: 70%;
}

#input_bag, #db {
    margin-bottom: 5%;
}

@media only screen and (max-width: 1000px) {
    .row {
        width: 80%;
    }
}

@media only screen and (max-width: 790px) {
    .row {
        width: 90%;
    }
}

@media only screen and (max-width: 629px) {
    .row {
        width: 100%;
    }
}

/* LABEL PAGE */

#container {
    position:fixed;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    z-index: 0;
    top : 25%;
    left : 25%;
}

.col_image {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    align-items: center;
    top: 90%;
    left:50%;
}

#sidebar-right {
    width:20%;
    right:0;
    background: #2a2a2a;
    color: #fff;
}

#sidebar-left {
    width: 20%;
    background: #2a2a2a;
    color: #fff;
}

#topics {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#keep_bounding, #sub_classes {
    float: none;
}

#sub_classes {
    position: relative;
    line-height: 52px;
}

.col {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    width: 55%;
    align-items: center;
    text-align:center;
}

.list-group-item {
    border: solid;
    border-color: white;
    text-align: center;
}

header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    height: 70px;
    text-decoration: none;
}

@media only screen and (max-width: 830px) {
    #topics {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    #topics {
        width: 75%;
    }
}

@media only screen and (max-width: 530px) {
    #topics {
        width: 90%;
    }
}

/* 404 PAGE */

#page404 {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    font-family: 'Lato', sans-serif;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #222;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 158px;
    line-height: 153px;
}

.notfound .notfound-404 h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: 700;
    text-shadow: 2px 2px 0px #c9c9c9, -2px -2px 0px #c9c9c9;
}

.notfound .notfound-404 h1>span {
    text-shadow: 2px 2px 0px #ffab00, -2px -2px 0px #ffab00, 0px 0px 8px #ff8700;
}

.notfound p {
    font-family: 'Josefin Sans', sans-serif;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
}

.notfound a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #ffab00;
    border-color: #ffab00;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }

    .notfound .notfound-404 h1 {
        font-size: 122px;
    }
}

/* 403 PAGE */

#page403 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222;
}

.message {
    width: 50%;
}

.message p {
    font-family: 'Josefin Sans', sans-serif;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
}

.message h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #c9c9c9;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;

}

.message a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.message a:hover {
    color: #ffab00;
    border-color: #ffab00;
}

.lock {
    border-radius: 5px;
    width: 55px;
    height: 45px;
    background-color: #ffab00;
    animation: dip 1s;
    animation-delay: 1.5s;
}

.lock::before, .lock::after {
    content: "";
    position: absolute;
    border-left: 5px solid #ffab00;
    height: 20px;
    width: 15px;
    left: calc(50% - 12.5px);
}

.lock::before {
    top: -30px;
    border: 5px solid #ffab00;
    border-bottom-color: transparent;
    border-radius: 15px 15px 0 0;
    height: 30px;
    animation: lock 2s, spin 2s;
}

.lock::after {
    top: -10px;
    border-right: 5px solid transparent;
    animation: spin 2s;
}

@keyframes lock {
    0% {
        top: -45px;
    }
    65% {
        top: -45px;
    }
    100% {
        top: -30px;
    }
}

@keyframes spin {
    0% {
        transform: scaleX(-1);
        left: calc(50% - 30px);
    }
    65% {
        transform: scaleX(1);
        left: calc(50% - 12.5px);
    }
}

@keyframes dip {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}